<div >

    <h4>Please Select here to modify,</h4>
    <button class="btn btn-primary" routerLink="/selectform" >Add Crop</button>

    





    <button class="btn btn-primary">Delete Crop</button>
    <button class="btn btn-primary">Edit Crop</button>
    
    
</div>
<br>


<table style="width:100% " id="customers" >
    <tr>
      <th>Plant Stages</th>
      <th>Seedling</th>
      <th>Adult</th> 
      <th>Flowering</th>
      <th>Harvest</th>
      <th>Postharvest</th>
      <th>Edit</th>

    </tr>
    <tr>
      <td>Soil</td>
      <td>Deep well drained sandy loamy soil</td> 
      <td>same</td>
      <td>same</td>
      <td>same</td>
      <td>same</td>
      <th> <button class="btn btn-primary">Edit</button></th>

    </tr>
    <tr>
      <td>Temperature</td>
      <td>25*C</td>
      <td>25*C</td> 
      <td>25*C</td>
      <td>25*C</td>
      <td>25*C</td>
      <th> <button class="btn btn-primary">Edit</button></th>

      
    </tr>
    <tr>
      <td>Water</td>
      <td>Water regularly</td> 
      <td>Need more water </td>
      <td>Need More</td>
      <td>Need More</td>
      <td>Need More</td> 
      <th> <button class="btn btn-primary">Edit</button></th>

    </tr>
    <tr>
            <td>Landscape</td>
            <td>Plain / hill area</td> 
            <td>same</td>
            <td>Same</td>
            <td>Same</td> 
            <td>Same</td>
            <th> <button class="btn btn-primary">Edit</button></th>

          </tr>
          <tr>
                <td>Pest attack
                        (Symptoms)
                        </td>
                <td></td> 
                <td></td>
                <td> Dark green water soaked
                     spots at the blossom end
                      of the fruit</td>
                <td>It foliage stems
                     and leaves and make them
                      to enlarge</td>
                <td></td> 
                <th> <button class="btn btn-primary">Edit</button></th>

              </tr>
              <tr>
                    <td>Pest attack</td>
                    <td>Hornworms
                            (catepillars)
                            </td> 
                    <td>Leaf curl virus</td>
                    <td>Blossom end rot </td>
                    <td>Blight</td>
                    
                    <td></td>
                    <th> <button class="btn btn-primary">Edit</button></th>

                  </tr>
                  <tr>
                        <td>Control system
                                (Non-chemical)
                                </td>
                        <td>
                                </td> 
                        <td>Remove diseased plant 
                            spray with insecticides for vector plant</td>
                        <td>Water regularly to avoid drought stress</td>
                        <td></td>
                        <td></td>
                        <th> <button class="btn btn-primary">Edit</button></th>

                      </tr>
                      <tr>
                            <td>Control system
                                    (Chemical)
                                    </td>
                            <td></td> 
                            <td></td>
                            <td></td>
                            <td>Use recommended fungicide
                                    (Moncozed)
                                    </td>
                            <td></td>
                            <th> <button class="btn btn-primary">Edit</button></th>

                          </tr>
                          <tr>
                                <td></td>
                                <td></td> 
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th> <button class="btn btn-primary">Add</button></th>

                              </tr>
  </table>
<br>
  <button class="btn btn-primary">Submit</button>
