   
body{

    /* background-image: url("../../assets/1212.jpg"); */
   margin-left: -210px;
   margin-top: -20px;
   margin-right: -200px;
   height: 750px;
	
}

label{
    color: aquamarine;
}
