body {
    background-image: url("../../assets/bg-01.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    margin-left: -210px;
    margin-top: -20px;
    margin-right: -200px;
    height: 750px;
   }



   