<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body >
<!-- <div > -->
<div style="padding: 50px 0px 0px 100px;" *ngIf="info.token; else loggedOut">
  
  <h5 class="text-primary">Your Information</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
    <strong>Roles:</strong> {{info.authorities}}<br />
    
  </p>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>

  <p>You're logged in with AgroShelf Data Providers</p>
  <h1></h1>
  <br>
  
</div>

<ng-template #loggedOut >
  <p style="padding: 50px 0px 0px 100px;">Please login.</p>
</ng-template>
<!--  -->
</body>